.teacher-dashboard {
  flex-grow: 1;
  padding: 20px;
  h1 {
    margin-bottom: 20px;
  }

  .class {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border: 2px solid #ccc;
    border-radius: 10px;
  }

  .student {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    cursor: pointer;
  }
}
